/*styles for quiz app*/

* {
    box-sizing: border-box;
}

h1 {
    color: darkblue;
}

button {
    background-color: cadetblue;
    border-radius: 10px;
}

.section {
    min-height: 200px;
}

#hero-section {
    background-color: silver;
}

#name-section {
    background-color: antiquewhite;
}

#qtype1-section {
    background-color: floralwhite;
}

#qtype2-section {
    background-color: gainsboro;
}

#qtype3-section {
    background-color: navajowhite;
}

#results-section {
    background-color: darkseagreen;
}

#statubar {
    text-align: center;
}

footer {
    background-color: darkgrey;
}

div[class*='col-'] {
    text-align: center;
    padding: 5px;
    display: inline-block;
}

div[class*='col-']>img {
    cursor: pointer;
}

.col-1 {
    float: left;
    width: 25%;
    background-color: #b1980f;
}

.col-2 {
    float: left;
    width: 50%;
    background-color: #550b77;
}

.col-3 {
    float: left;
    width: 75%;
    background-color: #0b7777;
}

.col-4 {
    float: left;
    width: 100%;
}

.row {
    margin: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-2>img {
    cursor: pointer;
}

#editor {
    background-color: white;
    min-height: 200px;
    min-width: 600px;
    display: none;
    box-shadow: 7px 5px 5px rgb(83, 83, 83);
    position: absolute;
    z-index: 9;
}

#editor>div>div {
    text-align: right;
}

#editor>div>div>button {
    font-size: 1.1em;
    border: 0px;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
}

#editorheader {
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: #e8edf1;
    color: #fff;
}

#editorheader>div>span {
    float: left;
    color: #000000;
}

#editorcontent>div {
    min-height: 300px;
}

#editor>div>div>#editor_save {
    padding: 10px;
    background-color: rgb(7, 177, 72)
}

#editorcontent>div>div>div {
    background-color: #fff;
}

#newqType {
    width: 63%;
}