/*styles for quiz app*/

* {
    box-sizing: border-box;
}

h1 {
    color: darkblue;
}

button {
    background-color: cadetblue;
    border-radius: 10px;
}

.section {
    min-height: 200px;
}

#hero-section {
    background-color: silver;
}

#name-section {
    background-color: antiquewhite;
}

#qtype1-section {
    background-color: floralwhite;
}

#qtype2-section {
    background-color: gainsboro;
}

#qtype3-section {
    background-color: navajowhite;
}

#results-section {
    background-color: darkseagreen;
}

#statubar {
    text-align: center;
}

footer {
    background-color: darkgrey;
}

div[class*='col-'] {
    text-align: center;
    padding: 5px;
    display: inline-block;
}

div[class*='col-']>img {
    cursor: pointer;
}

.col-1 {
    float: left;
    width: 25%;
}

.col-2 {
    float: left;
    width: 50%;
}

.col-3 {
    float: left;
    width: 75%;
}

.col-4 {
    float: left;
    width: 100%;
}

.row {
    margin: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-2>img {
    cursor: pointer;
}